* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(13, 13, 13);
    display: grid;
    place-items: center;
    font-family: 'Vollkorn SC', cursive;
}

h1 {
    margin: 50px 0 50px 0;
    font-size: 5rem;
    color: rgb(249, 116, 7);
    -webkit-text-stroke: .5px rgb(5, 5, 5);
}

input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.2rem;
}

button {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

img {
    width: 30px;
}

#cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn {

    font-size: 2rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(236, 152, 7);
    border-radius: 10px;
    font-family: 'Finger Paint', cursive;

}

#find {
    padding: 10px 20px;
border-radius: 10px;
background-color: var(--orange);
color: #f17508;
border-color:#c9b011;
font-size: 18px;
transition: 200ms transform;
font-weight: 600;

}
#find:hover{
    cursor: pointer;
transform: translateY(-4px);
}
#enterName {
    color: azure;
}

.btn:hover {
    background-color: rgb(240, 200, 160);
    cursor: pointer;
transform: translateY(-4px);
}

button.enabled {
    opacity: 1;
}

p {
    font-size: 2rem;
    color: azure;
}

